@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #aaa;
  overflow: hidden;
}

[data-theme="dark"] body {
  background-color: #151515;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

h1 {
  font-family: "Nunito";
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

[data-theme="dark"] h1 {
  color: #fff;
}

.board {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  gap: 5px;
  max-width: 80vmin;
  max-height: 80vmin;
  background-color: black;
  padding: 5px;
  border-radius: 15px;
}

[data-theme="dark"] .board {
  background-color: #333;
}

.field {
  user-select: none;
  font-family: "Nunito";
  text-align: center;
  font-weight: 700;
  display: inline-block;
  padding: 5px;
  width: 100%;
  aspect-ratio: 1;
  color: black;
  background-color: white;
  border-radius: 10px;
  font-size: 2vmin;
}

[data-theme="dark"] .field {
  color: white;
  background-color: #111;
}

img.field {
  padding: 0;
}

button.field {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.field.checked {
  background-color: #a1ff84;
}

[data-theme="dark"] button.field.checked {
  background-color: #08740c;
}

button.field.checked:hover {
  background-color: #72cf56;
}

[data-theme="dark"] button.field.checked:hover {
  background-color: #0d9912;
}

button.field.gay {
  background: conic-gradient(
      red 0%,
      orange 14%,
      yellow 28%,
      green 42%,
      blue 57%,
      indigo 71%,
      violet 85%,
      red 100%
    )
    50% 50%;

  text-shadow: -1px -1px 0 #ff77ed, 1px -1px 0 #ff77ed, -1px 1px 0 #ff77ed,
    1px 1px 0 #ff77ed;
}

[data-theme="dark"] button.field.gay {
  background: conic-gradient(
      darkred 0%,
      darkorange 14%,
      rgb(142, 142, 0) 28%,
      darkgreen 42%,
      darkblue 57%,
      indigo 71%,
      darkviolet 85%,
      darkred 100%
    )
    50% 50%;

  text-shadow: -1px -1px 0 #96378a, 1px -1px 0 #96378a, -1px 1px 0 #96378a,
    1px 1px 0 #96378a;
}

button.field.gay:hover {
  cursor: not-allowed;
}

button.field.gay:disabled,
button.field:disabled {
  background: none;
  text-shadow: none;
  background-color: #777;
  cursor: not-allowed;
}

[data-theme="dark"] button.field.gay:disabled,
[data-theme="dark"] button.field:disabled {
  background-color: #111;
  color: #555;
}

button.field:hover {
  background-color: #d5d5d5;
}

[data-theme="dark"] button.field:hover {
  background-color: #222;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7.5px);
  }
}

@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}

.fringo {
  display: inline-block;

  animation: bounce 1s infinite, rainbow 1s infinite;
}

.space {
  display: inline-block;
  padding: 0 1rem;
}

#new-game-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: background-color 0.3s, transform 0.5s, opacity 0.25s;
}

#new-game-button.hidden {
  opacity: 0;
  transform: translate(-50%, 30px);
}

.btn {
  font-family: "Nunito";
  font-weight: 700;
  margin: 0.5rem;
  border: 2px solid #000;
  background-color: #000;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}

[data-theme="dark"] .btn {
  background-color: #555;
  color: #fff;
  border-color: #fff;
}

.btn:hover {
  background-color: #333;
}

[data-theme="dark"] .btn:hover {
  background-color: #666;
}

.btn-outline {
  background-color: white;
  color: #000;
}

[data-theme="dark"] .btn-outline {
  background-color: #444;
  color: #fff;
}

.btn-outline:hover {
  background-color: #eee;
}

[data-theme="dark"] .btn-outline:hover {
  background-color: #555;
}
